In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

gmaps.configure(api_key=g_key)

In [2]:
#Load in csv created in pt 1.
city_df = pd.read_csv('../starter_code/city_data.csv')

city_df.head()

,Unnamed: 0,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed
0,0,Albany,42.6001,-73.9662,-1.79,72,100,1.14
1,1,Kongolo,-5.3833,27.0000,22.36,89,100,0.63
2,2,San Quintín,30.4833,-115.9500,18.57,54,1,4.05
3,3,Flensburg,54.7833,9.4333,-2.14,80,100,6.69
4,4,Rikitea,-23.1203,-134.9692,25.13,73,96,5.63

In [3]:
# Store latitude and longitude in locations
lat_lon = city_df[['Latitude', 'Longitude']]

# Fill NaN values and convert to float
humid = city_df["Humidity"]

lat_lon.head()

   Latitude  Longitude
0   42.6001   -73.9662
1   -5.3833    27.0000
2   30.4833  -115.9500
3   54.7833     9.4333
4  -23.1203  -134.9692

In [4]:
# Plot Heatmap
figure_layout = {
    'width': '900px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

# Use the gmaps.figure passing a zoom_level of 2 and a center point so the map displays properly at
# a readable size
fig = gmaps.figure(layout=figure_layout,zoom_level=2,center=(15,25))
# Create heat layer
heat_layer = gmaps.heatmap_layer(lat_lon, weights=humid, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1.5)

# Add heat layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

In [5]:
print("Hi")

Hi